/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

$header-height: 74px;
$sidebar-width: 256px;

$primary: #0c1f5f;
$secondary: #091132;

html,
body {
  padding: 0;
  overflow-y: hidden;
}
.wrapper {
  max-width: calc(100% - 256px);
}
.main {
  overflow-y: scroll;
  height: calc(100vh - 61px);
  padding: 20px;
  // background-color: #fafafa;
}

.ant-page-header {
  background-color: #eeee;
  border-bottom: 1px solid rgba(184, 184, 184, 0.93);
  color: white;
  padding: 10px 24px;
  .ant-page-header-heading-title {
    // color: white;
  }
}
.button-container {
  margin-top: 10px;
  float: right;
}
.ant-menu {
  border-right: none;
  li:nth-child(1) {
    margin-top: 0;
  }
}
.logo-wrapper {
  display: flex;
  align-items: center;
  padding-left: 12px;
  margin-bottom: 11px;
  height: 40px;
  h3 {
    color: white;
    margin: 0;
  }
}
.ant-collapse-borderless {
  background-color: white;
}
.menu-container {
  padding-top: 10px;
  border-right: 1px solid $secondary;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .notes {
    padding: 10px 16px;
    text-align: right;
  }

  background-color: $primary;
  color: white;
  .ant-menu {
    background-color: $primary;
    color: white;
    .ant-menu-item {
      width: 100% !important;
      &::after {
        display: none;
      }
      &:hover {
        background-color: #243472 !important;
        color: white;
        &::after {
          display: none;
        }
      }
    }
    .ant-menu-item-selected {
      &:hover {
        background-color: white !important;
        color: black;
      }

      background-color: white !important;
      color: black;
    }
  }
}
